<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JeremyAnsel.DirectX.D2D1" version="1.0.6" targetFramework="net451" />
  <package id="JeremyAnsel.DirectX.D3D11" version="1.0.6" targetFramework="net451" />
  <package id="JeremyAnsel.DirectX.DWrite" version="1.0.6" targetFramework="net451" />
  <package id="JeremyAnsel.DirectX.Dxgi" version="1.0.6" targetFramework="net451" />
  <package id="JeremyAnsel.DirectX.GameWindow" version="1.0.4" targetFramework="net451" />
  <package id="JeremyAnsel.DirectX.Window" version="1.0.4" targetFramework="net451" />
</packages>